body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
}

h1 {
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

.square {
	width: 45%;
	background: purple;
	padding-top: 15%;
	padding-bottom: 15%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background-color 0.6s;
	--webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	text-align: center;
	color: white;
	vertical-align: middle;
	line-height: normal;
	font-weight: 700;
	font-size: 150%;
	letter-spacing: 1px;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}


#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	margin: 0;
}

.selected {
	color: white;
	background: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#score {
	font-weight: 700;
	color: steelblue;
	height: 100%;
	font-size: 150%;
	letter-spacing: 3px;
	transition: all 0.3s;
}

button {
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transtion: all 0.3s;
	--moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}